[submodule "repositories/peft"]
	path = repositories/peft
	url = https://github.com/sterlind/peft
    branch = main
[submodule "repositories/GPTQ-Merged"]
	path = repositories/GPTQ-Merged
	url = https://github.com/Ph0rk0z/GPTQ-Merged
    branch = dual-model
[submodule "extensions/long_term_memory"]
	path = extensions/long_term_memory
	url = https://github.com/wawawario2/long_term_memory
[submodule "extensions/extensions/long_term_memory"]
	path = extensions/extensions/long_term_memory
	url = https://github.com/wawawario2/long_term_memory
